/* 태그선택자 - 태그이름을 적으면 됨 */
p {
    color: blue;
}

/* ID 선택자 - #아이디명 적으면 됨 */
#tea {
    color: red;
}

/* 클래스 선택자 - .클래스명 적으면 됨 */
.house {
    color: green;
}

/* 자손 선택 - 띄어쓰기로 표현 */
ul li {
    background-color: skyblue;
}

/* 전체 선택자 - * 을 쓰면 됨 */
* {
    font-family: 궁서;
}

/* 자식 선택 - 자손에서 띄어쓰기 대신 > 를 사용함 */
ul>li>p {
    font-weight: bold;
    color: yellow;
}

h1+p {
    font-family: 굴림;
    color: pink;
    background-color: green;
}
h1+p+p {
    font-family: 돋움;
    color: hotpink;
}

p[class] {
    background-color: blueviolet;
    color: #fff;
}

h1, h2, h3 {
    border-bottom: 1px solid #000;
}